
@{
    ViewData["Title"] = "Index";
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs breadcrumbs-overlay">
    <div class="breadcrumbs-img">
        <img src="~/assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
    </div>
    <div class="breadcrumbs-text white-color">
        <h1 class="page-title">Faq</h1>
        <ul>
            <li>
                <a class="active" href="index.html">Home</a>
            </li>
            <li>Faq Us</li>
        </ul>
    </div>
</div>
<!-- Breadcrumbs End -->

<div class="rs-faq-part orange-color pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="content-part mb-50 md-mb-30">
            <div class="title mb-40 md-mb-15">
                <h3 class="text-part">Kindergarten</h3>
            </div>
            <div id="accordion" class="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">What do you mean by item and end product?</a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            Aenean massa. Cum sociis natoque penatibus et magnis dis partu rient to montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellen of the tesque services Donec quam felis, ultricies nec, pellentesque eu, pretium quis,pede justo, of fringilla vel, aliquet nec
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">What does non-exclusive mean?</a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                        <div class="card-body">
                            Aenean massa. Cum sociis natoque penatibus et magnis dis partu rient to montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellen of the tesque services Donec quam felis, ultricies nec, pellentesque eu, pretium quis,pede justo, of fringilla vel, aliquet nec
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false">What are some examples of permitted end products?</a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                        <div class="card-body">
                            Aenean massa. Cum sociis natoque penatibus et magnis dis partu rient to montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellen of the tesque services Donec quam felis, ultricies nec, pellentesque eu, pretium quis,pede justo, of fringilla vel, aliquet nec.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-part mb-50 md-mb-30">
            <div class="title mb-40 md-mb-15">
                <h3 class="text-part">Primary School</h3>
            </div>
            <div id="accordion2" class="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false">What if I have an emergency?</a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion2" style="">
                        <div class="card-body">
                            Hematology, also spelled haematology, is the branch of medicine concerned with the study of the cause, prognosis, treatment, and prevention of diseases related to blood. It involves treating diseases that affect the production of blood and its components, such as blood cells, hemoglobin, blood proteins, bone marrow, platelets, blood vessels, spleen, and the mechanism of coagulation.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseFive">What if my regular doctor is unavailable?</a>
                    </div>
                    <div id="collapseFive" class="collapse show" data-parent="#accordion2">
                        <div class="card-body">
                            Hematology, also spelled haematology, is the branch of medicine concerned with the study of the cause, prognosis, treatment, and prevention of diseases related to blood. It involves treating diseases that affect the production of blood and its components, such as blood cells, hemoglobin, blood proteins, bone marrow, platelets, blood vessels, spleen, and the mechanism of coagulation.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false"> What should I bring to my first appointment?</a>
                    </div>
                    <div id="collapseSix" class="collapse" data-parent="#accordion2" style="">
                        <div class="card-body">
                            Hematology, also spelled haematology, is the branch of medicine concerned with the study of the cause, prognosis, treatment, and prevention of diseases related to blood. It involves treating diseases that affect the production of blood and its components, such as blood cells, hemoglobin, blood proteins, bone marrow, platelets, blood vessels, spleen, and the mechanism of coagulation.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-part mb-50 md-mb-30">
            <div class="title mb-40 md-mb-15">
                <h3 class="text-part">High School</h3>
            </div>
            <div id="accordion3" class="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false">How does the normal heart work?</a>
                    </div>
                    <div id="collapseSeven" class="collapse" data-parent="#accordion3" style="">
                        <div class="card-body">
                            The normal heart is composed of four chambers. The two upper chambers (called atriums or atria) are reservoirs which collect blood as it flows back to the heart. From the atriums, blood flows into the lower two chambers (called ventricles) which pump blood, with each heart beat, into the main arteries.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseEight" aria-expanded="true">What are the heart valves?</a>
                    </div>
                    <div id="collapseEight" class="collapse show" data-parent="#accordion3" style="">
                        <div class="card-body">
                            The normal heart is composed of four chambers. The two upper chambers (called atriums or atria) are reservoirs which collect blood as it flows back to the heart. From the atriums, blood flows into the lower two chambers (called ventricles) which pump blood, with each heart beat, into the main arteries.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">Can a child acquire a heart problem?</a>
                    </div>
                    <div id="collapseNine" class="collapse" data-parent="#accordion3">
                        <div class="card-body">
                            The normal heart is composed of four chambers. The two upper chambers (called atriums or atria) are reservoirs which collect blood as it flows back to the heart. From the atriums, blood flows into the lower two chambers (called ventricles) which pump blood, with each heart beat, into the main arteries.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-part">
            <div class="title mb-40 md-mb-15">
                <h3 class="text-part"> College/University</h3>
            </div>
            <div id="accordion4" class="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseTen">What is Education?</a>
                    </div>
                    <div id="collapseTen" class="collapse show" data-parent="#accordion4">
                        <div class="card-body">
                            Orthopedics (alternatively, orthopaedics) is a specialty focused on the diagnosis and treatment of conditions, disorders, diseases and injuries of the muscles, bones, joints, tendons, ligaments, and nerves.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseEleven"> What is the difference between a sprain and a fracture?</a>
                    </div>
                    <div id="collapseEleven" class="collapse" data-parent="#accordion4">
                        <div class="card-body">
                            The normal heart is composed of four chambers. The two upper chambers (called atriums or atria) are reservoirs which collect blood as it flows back to the heart. From the atriums, blood flows into the lower two chambers (called ventricles) which pump blood, with each heart beat, into the main arteries.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwelve"> What is an Advanced Practitioner?</a>
                    </div>
                    <div id="collapseTwelve" class="collapse" data-parent="#accordion4">
                        <div class="card-body">
                            The normal heart is composed of four chambers. The two upper chambers (called atriums or atria) are reservoirs which collect blood as it flows back to the heart. From the atriums, blood flows into the lower two chambers (called ventricles) which pump blood, with each heart beat, into the main arteries.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

